repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
      - id: trailing-whitespace
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: check-ast
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: app
        args: [
          --warn-unused-configs,
          --ignore-missing-imports,
          --no-implicit-optional,
          --no-strict-optional]
        additional_dependencies:
          - types-requests==2.32.0.20241016
          - types-redis==4.6.0.20241004
  - repo: local
    hooks:
      - id: uv-export-requirements
        name: Export requirements and requirements-dev
        entry: sh -c 'uv pip compile pyproject.toml -o requirements.txt && uv pip compile pyproject.toml --all-extras -o requirements-dev.txt'
        language: system
        files: pyproject\.toml$
        pass_filenames: false
