fastapi==0.87.0
typing-extensions==4.2.0
uvicorn==0.18.2
httpx==0.23.0
# click==7.1.2
requests==2.24.0
prometheus-fastapi-instrumentator==5.3.0
aioredis==2.0.0
msgpack==1.0.2
celery==5.2.7
redis==4.4.2
flower==1.2.0
importlib-metadata==4.13.0
eventlet==0.33.3
